@import "./variables.css";
@import "./resets.css";

* {
  box-sizing: border-box;
}

:root {
  font-size: 24px;
  /* 1 rem = 24 */
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: var(--font-base);
  background-color: #fff;
}

.headerMainWrapper {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 45px;
  flex: 1;
}

.gallery {
  background: var(--light-grey);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  padding: 50px;
  gap: 20px;
  border-radius: 25px;
  height: 100%;
}

.main_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }

  .headerMainWrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main_wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 22px;
  }

  .gallery {
    background: white;
    padding: 0px;
    border-radius: 25px;
  }
}
