@import "../styles/variables.css";

.collapseWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.collapseTop {
  display: flex;
  flex-direction: row;
  background: var(--primary-color);
  border-radius: 5px;
  padding: 10px 20px 10px 15px;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
}

.collapseInner {
  background: var(--light-grey);
  margin-top: -30px;
  font-size: 18px;
  font-weight: 400;
  padding: 20px;
}

.open {
  display: flex;
}

.closed {
  display: none;
}

@media (max-width: 768px) {
  .collapseWrapper {
    width: 100%;
  }

  .collapseTop {
    font-size: 13px;
  }

  .collapseInner {
    font-size: 12px;
  }
}
