@import "../styles/variables.css";

.header__div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 57px;
  font-size: 1rem;
  font-weight: 500;
}

.header__link:hover {
  text-decoration: underline;
  color: black;
}

.header__link:visited {
  text-decoration: underline;
  color: black;
}

@media (max-width: 768px) {
  .header__div {
    padding-left: 0px;
    padding-right: 0px;
  }

  nav {
    font-size: 0.5rem;
    text-transform: uppercase;
    gap: 26px;
  }

  .header__logo {
    /* transform: scale(0.7); */
    width: 145px;
  }
}
